:host{
    //display: block;
    //border: 1px  solid black;
    margin: 50px;
    padding: 20px;
}

.dropdown-menu {
    display: none;
  }
  
  .dropdown.open .dropdown-menu {
    display: block;
  }