<div class="row">
    <div class="col-sm-12">
      <img src="" alt="" class="img-responsive">
    </div>
  </div>


  <div class="col-sm-3">
  <ul class="navbar-nav ms-auto"  >
    <li class="nav-item dropdown" appDropdrown>
      <a class="nav-link dropdown-toggle"  id="navbarDropdown" type="button"
      class="btn btn-primary dropdown-toggle">
        Manage Team 
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <!--a class="dropdown-item" (click)="addToPlayer()">To Players</a-->
        <a class="dropdown-item" >To Players</a>
        <a class="dropdown-item" (click)="gotoEdit()">Edit Team</a>
        <a class="dropdown-item" >Delete Team</a>
      </div>
    </li>
  </ul>
</div>
  
  <br>
 

  <div class="row">
    <div class="col-sm-12">
      {{team.name}}       &nbsp; {{team.description}}
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let p of team.joueurs">
          Name: {{p.name}}, Age: {{p.age}} year old
        </li>
      </ul>
    </div>
  </div>