<div class="row">
    <div class="col-xs-12">
      <form>
        <div class="row">
          <div class="col-sm-5 form-group">
            <label >Name</label>
            <input class="form-control"  #name_ref  [(ngModel)]="joueur.name"  [ngModelOptions]="{standalone: true}">
           
          </div>
          <div class="col-sm-2 form-group">
            <label  >Age</label>
            <input type="number" #age_ref class="form-control" [(ngModel)]="joueur.age" [ngModelOptions]="{standalone: true}">
           
           
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success" (click)="add_player()" >Add</button>
            <button class="btn btn-danger" type="button"  (click)="updatePlayer()">Edit</button>
            <button class="btn btn-primary" type="button">Clear</button>
            
            
            
             
          </div>
        </div>
      </form>
    </div>
</div>